meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
meta(name='description', content='')
meta(name='viewport', content='width=device-width, initial-scale=1.0')

meta(property="og:title", content="WeAreTech.io Tech Communities & Meetups")
meta(property="og:site_name", content="WeAreTech")
meta(property="og:url", content="wearetech.io")
meta(property="og:description", content="WeAreTech is a developers & techies community one-stop-shop for events and active teams in your town.")
meta(property="og:image", content="http://than.pol.as/Xs7N/logo-cropped.png")
meta(property="og:type", content="website")

