//
// Very ad-hoc styles to get out the page ASAP
//

$together-color: #61C9A9;

.together-navbar {
  padding: 10px 0;
  margin: 0;

  .navbar-brand {
    padding-top: 0;
  }
}
.together-menu {
  margin-top: 38px;
  li a {
    padding-bottom: 0;
    font-family: Lato, Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: normal;
    &:hover {
      color: $together-color !important;
    }
  }
}

.together {
  margin-top: 90px;
  color: #888;
  a {
    color: #888;
    &:hover {
      color: $together-color !important;
    }
  }
}

.together .top-section {
  background-image: url('/img/skg-together-bg.jpg');

  .main-panel {
    margin-top: 100px;
    .inner {
      padding-left: 20px;
      padding-right: 20px;
    }
    .panel-header {
      background-color: $together-color;
      header {
        h2 {
          padding: 20px;
          margin: 0;
          font-family: Lato, Helvetica, Arial, sans-serif;
          color: #fff;
        }
      }
    }
    .panel-body {
      background-color: #FFF;
      ul li {
        float: left;
        list-style: none;
        padding-right: 10px;
        img {
          padding-right: 6px;
          margin-top: -4px;
        }
      }
    }
  }
}
