extends core

block layout

  div.navbar.navbar-default.navbar-fixed-top
    div.container
      div.navbar-header
        a(href="/").navbar-brand SKG Tech
      div.navbar-collapse.collapse
        ul.nav.navbar-nav.navbar-right
          li.active
            a(href="/#agenda") Agenda
          li.active
            a(href="/#communities") Communities
          li.active
            a(href="/#contact") Contact

  //- include parts/oldie
  block content

  footer#f.footer-actual
    div.container
      div.row
        div.col-lg-6.pull-left
          p &copy;
            a(href="https://github.com/skgtech/skgtech.github.io/graphs/contributors") skgtech contributors
            | source under the
            a(target="_blank", href="http://opensource.org/licenses/MIT") MIT License
            | .
          p.license The content property of their respective owners, the rest
            a(target="_blank", href="http://creativecommons.org/publicdomain/zero/1.0/") Creative Commons CC0
            | .
        div.col-lg-4.pull-right
          p
            a(href="https://github.com/skgtech/skgtech.github.io") View the source of this site and contribute
