//-
//-

extends ../layout/city

block content

  div.error
    div.container
      div.row
        div.col-lg-8.col-lg-offset-2.centered
          h1 Wrong Turn
          h3 The city you requested does not exist
