mixin searchCity
  .row
    form.form-horizontal.search-city-form(role=form)
      .col-md-6
        .form-group
          label.col-md-3(for="city") Type your city
          .col-md-9
            input.form-control#city(name="city")
      .col-xs-12
        .col-xs-12#map-canvas(style="height:200px")
  script(src="http://maps.googleapis.com/maps/api/js?libraries=places")
