// index file
//
// ip {string} The client's IP
//

extends layout/default

block content

  .container.landing
    .row
      .col-sm-3
        img(src="img/logo-cropped.png").logo
      .col-sm-9
        h1.brand WeAreTech.io
        p.slogan.lead More awesomeness to come. Stay tuned.
        p Help us spread the word&nbsp;
          | <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://wearetech.io" data-text="Just a few commits before #wearetech.io is out. Untill then check skgtech.io & athtech.org" data-related="SKG_Tech">Tweet</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        p
          | Want a sneak peak? Checkout
          a(href="http://skgtech.io")  SKGTech.io
          |  and
          a(href="http://athtech.org")  ATHTech.io
