// index file
//
// ip {string} The client's IP
//

extends layout/default

block content

  .container.landing
    .row
      .col-sm-3
        img(src="img/logo-cropped.png").logo
      .col-sm-9
        h1.brand WeAreTech.io
        p.slogan.lead More awesomeness to come. Stay tuned.
        p Help us spread the word&nbsp;
          | <a class="twitter-share-button"
          |    href="https://twitter.com/share">
          |Tweet
          |</a>
          |<script type="text/javascript">
          |window.twttr=(function(d,s,id){var t,js,fjs=d.getElementsByTagName(s)[0];if(d.getElementById(id)){return}js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);return window.twttr||(t={_e:[],ready:function(f){t._e.push(f)}})}(document,"script","twitter-wjs"));</script>
        p
          | Want a sneak peak? Checkout
          a(href="http://skgtech.io")  SKGTech.io
          |  and
          a(href="http://athtech.org")  ATHTech.io
